<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<style> #body {
   height: max-content; 
   background-image:linear-gradient(to right, rgb(216, 201, 34), rgb(173, 79, 16));
}
</style>
<body>
  <h2 class="main_text"> Üzleti Szerződés </h3>
  <h6 style="margin-bottom: 35px;" class="main_text"> Kérlek add meg az alábbi adatokat : </h6>
  <body id="body">
    <form id="form" class="flexContainer">
      <section class="forms" >
          <div class="input-group mb-3 start">
            <span class="input-group-text" >Cég neve : </span>
            <input type="text" id="firm_name" class="form-control end" name = "name" value = "Kiss Kft." style="margin-right: 20px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
          <div class="input-group mb-3 start">
            <span class="input-group-text" >Vendéglátó egység neve: </span>
            <input type="text" id="merchant_name" class="form-control end" name = "merchantName" value = "Black Ship pizzéria" style="margin-right: 20px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div> 
          <div class="input-group mb-3 start">
            <span class="input-group-text" >Telephely: </span>
            <input type="text" id="work_location" class="form-control end" name = "workLocation" value = "Mezőtúr" style="margin-right: 20px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"required>
          </div> 
          <div class="input-group mb-3 start">
            <span class="input-group-text" id="tax_number">Adószám : </span>
            <input type="text" id="taxNumber" class="form-control end" name = "taxNumber" value = "68077330-2-36" style="margin-right: 20px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"required>
          </div>      
          <div class="input-group mb-3 start">
            <span class="input-group-text" >Vállalkozói számlaszám : </span>
            <input type="text" id="bank_acount_numer" class="form-control end" name = "banAccountNumber" value = "11773456-40259789-00000000" style="margin-right: 20px" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
          <div class="input-group mb-3 " >
            <label class="form-control label"  for="name">Céges e-mail:</label>
            <input type="text"id="email" name="email:" class="form-control" name = "email" value = "hajcsaka" placeholder="Username" aria-label="Username" required>
            <span class="input-group-text">@</span>
            <input type="text" id="emailServer" class="form-control end" name = "emailServer" value = "gmail.com" placeholder="Server" aria-label="Server">
          </div>
          <label class="form-control label2 "  for="name">Otp Simple integráció : </label>
      </section>
      
    <div class="help-tip">
      <p> A szolgáltatás költsége a bankkártyás megrendelésekkel fizetett tételek 1,7% -a + Áfa.  - javasolt</p>
  </div>  
    
    <div class="form-check start2 top2" id="checked">
      <input class="form-check-input" type="radio" name="checkbox" id="flexRadioDefault1" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        Igen  
      </label>
    </div>
      <div class="form-check start" id="unchecked">
      <input class="form-check-input" type="radio" name="checkbox" id="flexRadioDefault2" >
      <label class="form-check-label" for="flexRadioDefault2">
        Nem
      </label>
    </div>
    <!-- <div class="input-group mb-3 start top">
      <span class="input-group-text" id="inputGroup-sizing-default">A szolgáltatás kezdete: </span>
      <input type="date" id="endTime" class="form-control end" style="margin-right: 20px; font-weight: 300" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
    </div>  -->
    <div class="col-12 btn">
      <button id="btn"  class="btn btn-primary"  type="submit">Adatok küldése</button>
    </div> 
    </form><br>
  <div class="text-center">
    <img src="/img/telepocak.png" class="rounded" alt="telepocak" style="height: 90px";  >
  </div>
  <div class="row" id="data-list-component">  
  </div>
  <div class="float-left">
    <div id="edit-data">
    </div>
    <!-- <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" id="sig-submitBtn">szerződés küldése a telepocaknak</button>
            <button class="btn btn-default" id="sig-clearBtn">Clear Signature</button>
        </div>
    </div> -->
    <br/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="/script.js"></script>
 <script src="/js/validates.js"></script>  
</body>
</html>
